body{
    margin: 2%;
    padding: 2%;
    font-family:  Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
    
}

header{
    background: blue url(/images/flywheel.jpg) fixed;
    margin: 0 auto;
    height: 200px;
}

h1{
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 120%;
    padding: 2%;
}


nav a{
    display: inline-block;
    text-align:center;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    color: #000000;
    text-decoration: none;
    margin-right: 3%;
    padding: 10px ;
    width: 110px;
}

nav{
    margin:0;
    padding:0;
    text-align:center;
}


.active{
    background: rgba(255,255,255,1);
}

.left{
    width: 200px;
    background-color:darkkhaki;   
    height: 500px;
    float: left;
    margin-right: 5%;
    
}
.right{
    height: 100%;
    padding-top: 2%;
    
}


img{
    width: 150px;
    display: block;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 20px;
}
