/* default color is black */
body{
    color: #000000;
    font-size: 105%;
}

/************************
Header properties
*************************/
header{
    background-color: #bbbbbb;
}

h1{
    text-align: center;
    color: #ffffff;
}

h2{
    color: #000066;
}

h1,h2,h3{
    text-transform:uppercase;
}

a{
    background-color: #cccccc;
}

a:link, a:visited{
    color: #000000;
}

/************************
Body properties
*************************/

.left{
    visibility: hidden;
    display: none;
}

.right{
    background-color:#888888;
    font-family:  serif,monospace;
    font-size: 110%;
}