body{
    margin: 2%;
    padding: 2%;
    font-family:  Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
    
}

header{
    background: #3988bb url(/images/flywheel.jpg) fixed;
    margin: 0 auto;
    height: 200px;
}

h1{
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 120%;
    padding: 2%;
}


nav a{
    display: inline-block;
    text-align:center;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    color: #000000;
    text-decoration: none;
    margin-right: 3%;
    padding: 10px ;
    width: 110px;
}

nav{
    margin:0;
    padding:0;
    text-align:center;
}


.active{
    background: rgba(255,255,255,1);
}

.left{
    width: 200px;
    background-color:#39bb73;   
    height: 700px;
    float: left;
    margin-right: 5%;
    
}
.right{
    height: 100%;
    padding-top: 2%;
    
}


img{
    width: 150px;
    display: block;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 20px;
}



table{
	border-spacing: 0;
	border: 1px solid black;
	-webkit-border-radius: 10px;
	border-radius: 10px;
    text-align: center;
    height: 75%;
    width: 70%;
    font-family: "Indie Flower", "Josefin Sans";
    border-spacing: inherit;
}

th{
    font-size: 20px;
    height: 50px;
    background: #39bb73; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#39bb73, #3988bb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#39bb73, #3988bb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(	#39bb73, #3988bb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(	#39bb73, #3988bb); /* Standard syntax */
    color: #ffffff;
    border: 1px solid black
    
}
td{
    height: 30px;
    color: #bb3939;
    border: 1px solid #3988bb;
}

th:first-child, td:first-child{
    text-align: left;
    padding-left: 2%;
    padding-right: 2%
}

tr{
    background-color: rgba(184, 233, 200, 0.5);
    color: rgba(0,0,0,0.6)
}
tr:hover {
    color: #000000;
    background-color: #b8e9c8;
}

tr:last-child{
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;	
}

tr:last-child>td:first-child {
	-webkit-border-radius: 0 0 0 10px;
	border-radius: 0 0 0 10px;	
}

tr:last-child>td:last-child{
	-webkit-border-radius: 0 0 10px 0;
	border-radius: 0 0 10px 0;	
}

tr:first-child{
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;	
}

tr:first-child>th:first-child {
	-webkit-border-radius: 10px 0 0 0;
	border-radius: 10px 0 0 0;	
}

tr:first-child>th:last-child{
	-webkit-border-radius: 0 10px 0 0;
	border-radius: 0 10px 0 0;	
}